@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Poppins:wght@300;400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-family-sans: "Poppins", sans-serif;
  --font-family-signature: "Mr Dafoe", cursive;
  --color-primary: #081a37;
}

@layer base {
  html {
    @apply bg-white text-slate-900 antialiased;
  }
}
